* {
    box-sizing: border-box;
    font-family: sofia-pro, 'Montserrat';
    margin: 0;
}

body {
    position: relative;
}

/*adding the font- sofia-pro  */
@font-face {
    font-family: sofia-pro;
    src: url(../sofiapro-light.otf);
}

h1 {
    color: #000075;
    font-size: 59px;
    padding: 0px 40px 0px 40px;
}

h2 {
    color: #ffffff;
    font-size: 25px;
    padding: 25px 40px 25px 40px;
}

/*Tillhör footern*/
h4 {
    color: #4c4c4c;
    font-size: 14px;
}

a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: lightgrey;
    text-decoration: none;
}

/* selected link */
a:active {
    color: grey;
    text-decoration: none;
}

button {
    background-color: #2effc3;
    border-radius: 50px;
    border-style: none;
    color: #000075;
    font-size: 1.3em;
    margin: 15px 0px 15px 40px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

button > a:link {
    color: #000075;
}

button > a:visited {
    color: #000075;
}

button:hover {
    background-color: #ffce00; /* yellow */
}

header {
    background-color: #3530304f;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

footer {
    font-size: 13px;
    line-height: 1.7;
    width: 100%;
}

/*Hero*/
.hero {
    position: relative;
}

.hero-text {
    z-index: +1;
}

.hero-text > p {
    background-color: #ff5555;
    bottom: 0px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    left: 50px;
    margin-left: 12%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 30%;
}

.hero img {
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
}

/* selling-point section */
.selling-point {
    background-color: #fc56ce;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 100%;
}

/*Section: releases; rubriken innan skivorna*/
.releasesCopy > h1 {
    padding: 25px
}

/*Releases*/
.releases {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

.releases > div {
    margin: 5px;
    width: calc(33% - 10px);
}

.releases > div > img {
    height: 100%;
    width: 100%;
}

/*footer*/

.footercontainer1 {
    background-color: rgba(0, 0, 255, 0.3);
    margin-top: 25px;
    width: 100%;
}

.distribution {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 10px 30px 10px;
    width: 100%;
}

.distribution > img {
    height: auto;
    margin: 20px;
    width: 150px;
}

.footercontainer2 {
    background-image: url(./record-union/icon-assets/ps-ic-welcome-logo@2x.jpg);
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    padding-bottom: 35px;
    padding-left: 35px;
    width: 100%;
}

.footer-info {
    padding-top: 35px;
    width: 100%;
}

/*Detta måste finnas för att inte listorna ska få automatiskt indrag*/
ul {
    padding: 0px;
}

/* All @-media */

@media (max-width: 600px) {
    .hero > p {
        width: calc(25% - 10px)
    }
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .hero .header .click {
        height: auto;
        width: 100%;
    }
}

@media (min-width: 600px) {
    .releases > div {
        width: calc(25% - 10px)
    }
    .footer-info {
        width: 35%;
    }
    .hero-text > p {
        font-size: 20px;
    }
}

@media (min-width: 900px) {
    .hero-text > p {
        font-size: 25px;
    }
    .hero > p {
        width: calc(45% - 10px);
    }
    .releases > div {
        width: calc(20% - 10px)
    }

    .footer-info {
        width: 18%;
    }
}

@media screen and (max-width: 1200px) {
    .btn {
        border-radius: 20px;
        font-size: 1.3em;
        line-height: 2.5;
        margin-bottom: 10px;
        padding: 0 20px;
    }
}
